<h2>Data Acquistion </h2>

There are various formats for a dataset,.csv, .jason,.xlsx etc.The dataset can be stored in different places,on your local machine or sometimes online.In this section, you will learn how to load dataset into our jupyter noteook.

In our case,the Automobile dataset is an online source, and it is in csv format.Let'suse this dataset as an example to practice data reading.

<li>data source: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data" target="_blank">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a></li>
    <li>data type: csv</li>

The pandas library is a useful tool that enables us to read various datasets into dataframes,our jupyter notebook platforms have built in pandas library 
so that all we need to do is import pandas without installing it

In [3]:
#importing pandas
import pandas as pd
import numpy as np

<h2>Read Data</h2>

We use pandas.read_csv() function to read the csv file.In the bracket we put the file path along with quotation mark,so that pandas will read the file into
dataframe from that address.The file path can be either an URL or local file address.

Because, the data does not contain headers, we can add an argument headers = None inside the read_csv() function,so that pandas will not automatically
set the first row as header.

you can also assign a dataframe to any variable you create.

In [4]:
# import pandas library
import pandas as pd
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(url,header = None)

After reading the dataset, we can use the dataframe.head(n)method to check the top n rows of the dataframe,Where n is an integer.Contrary to the dataframe.head(n),
dataframe.tail(n) will show you the bottom n rows of the dataframe

In [5]:
# Show the first 5 rows of the dataframe using dataframe.head() method

print("The first five rows of the dataframe:")
df.head(5)

The first five rows of the dataframe:

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
# show the bottom 10 rows of the dataframe
print("The bottom 10 rows:")
df.tail(10)

The bottom 10 rows:

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

<h2>Add Headers</h2>

Take a look at our dataset.pandas automatically set the header from integer 0.

To better describe our data we can introduce a header, this information is available at:  <a href="https://archive.ics.uci.edu/ml/datasets/Automobile" target="_blank">https://archive.ics.uci.edu/ml/datasets/Automobile</a>
</p>

<p>
Thus we have to add headers manually
</p>
<p>
Firstly, we create a list "headers" that contain all column names in order
    Then, we use <code>dataframe.columns =headers </code> to replace the headers by the list we created.
    </p>

In [7]:
# Create a headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base",
          "length","width","height","curb-weight","engine-type","num-of-cylinders","enzine-size","fuel-system","bore","stroke","compression-ratio",
          "horse-power","peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n",headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'enzine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horse-power', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

We replace headers and recheck our data.

In [8]:
df.columns = headers
df.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enzine-size,fuel-system,bore,stroke,compression-ratio,horse-power,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

<p>
Now, we need to replace the '?' symbol with NaN,so that <code>dropna()</code> can remove the missing values.

In [9]:
df1= df.replace('?',np.NaN)

<p> We candraop the missing values along the column "Price" as follows</p>

In [10]:
df = df1.dropna(subset=["price","normalized-losses"],axis = 0)
df.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enzine-size,fuel-system,bore,stroke,compression-ratio,horse-power,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,17710
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.30,140,5500,17,20,23875
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6575
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
22,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6377
23,1,118,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957
24,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
26,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,7609
27,1,148,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
28,-1,110,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88,5000,24,30,8921
29,3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.60,3.90,7.00,145,5000,19,24,12964

Now, we have sucessfully read the raw dataset and correct headers into dataset.

In [11]:
# printing column names
print(df.columns)

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'enzine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horse-power', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

<h2>Save Dataset </h2>
<p> 
Correspondingly,pandas enables us to save the dataset to csv by using the <code>dataframe.to_csv()</code> method,you can add the file path and name 
along with quotation marks in the brackets 
</p>
<p>
    For,example if you would save the dataframe <b>df</b> as <b>automobile.csv</b> to your local machine,you may use the syntax below:
</p>

In [12]:
df.to_csv("automobile.csv",index = False )

<h2> Basic insight of Dataset</h2>

<p>After reading the data into pandas Dataframe,it is time for us to explore the dataset.</p>
<p>
There are several ways to obtain essential insights of the data to help us better understand our dataset </p>

<h2>Data types </h2>

Data has a variety of types.
<p>
The main types stored in Pndas dataframes are object,float,int,bool and datatime64.In order to better learn about each attribute,it is always good for us to 
know the data type of each column in pandas.
</p>

In [13]:
# Check the datatypes of the dataframe by using .dtypes
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
enzine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horse-power           object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [14]:
print(df.dtypes)

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
enzine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horse-power           object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

<p>
As a result, as shown above,it is clear to see that the datatype of "symboling" and "curb-weight" are int64,"normalized-losses" is object, and
"wheel-base" is float64, etc.
</p>

<p>
These datatypes can be changed.We will learn how to change them in other module
</p>

<h2>Describe</h2>

<p>
if we would like to get the statistical summary of the each column, such as count,column mean value, column stadard deviation, we use describe method.
</p>

In [15]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,enzine-size,compression-ratio,city-mpg,highway-mpg
count,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000
mean,0.792683,98.164024,172.238415,65.598780,53.774390,2458.274390,117.957317,10.126951,26.268293,31.847561
std,1.225874,5.120198,11.417833,1.923028,2.343942,475.087068,30.896294,3.836306,6.193305,6.514349
min,-2.000000,86.600000,141.100000,60.300000,49.400000,1488.000000,61.000000,7.000000,15.000000,18.000000
25%,0.000000,94.500000,165.675000,64.000000,52.000000,2090.750000,97.000000,8.700000,22.000000,28.000000
50%,1.000000,96.550000,172.000000,65.400000,54.100000,2367.500000,109.000000,9.000000,26.000000,32.000000
75%,2.000000,100.400000,177.800000,66.500000,55.500000,2785.500000,131.750000,9.400000,31.000000,37.000000
max,3.000000,115.600000,202.600000,71.700000,59.800000,4066.000000,258.000000,23.000000,49.000000,54.000000

In [16]:
df.describe(include="all")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enzine-size,fuel-system,bore,stroke,compression-ratio,horse-power,peak-rpm,city-mpg,highway-mpg,price
count,164.000000,164,164,164,164,163,164,164,164,164.000000,...,164.000000,164,160,160,164.000000,164,164,164.000000,164.000000,164
unique,NaN,51,18,2,2,2,5,3,1,NaN,...,NaN,7,33,31,NaN,49,20,NaN,NaN,150
top,NaN,161,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.15,NaN,68,4800,NaN,NaN,5572
freq,NaN,11,31,149,136,95,80,106,164,NaN,...,NaN,66,20,14,NaN,18,35,NaN,NaN,2
mean,0.792683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.164024,...,117.957317,NaN,NaN,NaN,10.126951,NaN,NaN,26.268293,31.847561,NaN
std,1.225874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.120198,...,30.896294,NaN,NaN,NaN,3.836306,NaN,NaN,6.193305,6.514349,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,15.000000,18.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.700000,NaN,NaN,22.000000,28.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.550000,...,109.000000,NaN,NaN,NaN,9.000000,NaN,NaN,26.000000,32.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.400000,...,131.750000,NaN,NaN,NaN,9.400000,NaN,NaN,31.000000,37.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.600000,...,258.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

<p>Now it provides the statistical summary of all the columns,including object - typed attributes</p>
<p>We can now see how many unique values,which is the top value and frequency of top values in object-typed columns.</p>
<p>Some values in the table above show as 'NaN',this is because those numbers are not available regarding a particular column type.</P>

In [17]:
 # To check for the statistics of th'length' and 'compression-ratio;' columns 
df[["length","compression-ratio"]].describe()

           length  compression-ratio
count  164.000000         164.000000
mean   172.238415          10.126951
std     11.417833           3.836306
min    141.100000           7.000000
25%    165.675000           8.700000
50%    172.000000           9.000000
75%    177.800000           9.400000
max    202.600000          23.000000

<h2>Info</h2>
<p>
Another method you can use to check for information is info
</p>

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 3 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          164 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               164 non-null    object
 3   fuel-type          164 non-null    object
 4   aspiration         164 non-null    object
 5   num-of-doors       163 non-null    object
 6   body-style         164 non-null    object
 7   drive-wheels       164 non-null    object
 8   engine-location    164 non-null    object
 9   wheel-base         164 non-null    float64
 10  length             164 non-null    float64
 11  width              164 non-null    float64
 12  height             164 non-null    float64
 13  curb-weight        164 non-null    int64
 14  engine-type        164 non-null    object
 15  num-of-cylinders   164 non-null    object
 16  enzine-size        164 non-null    int64
 17  fuel-system        164 non-null    object
 18  bore               160 non-null    object
 19  stroke             160 non-null    object
 20  compression-ratio  164 non-null    float64
 21  horse-power        164 non-null    object
 22  peak-rpm           164 non-null    object
 23  city-mpg           164 non-null    int64
 24  highway-mpg        164 non-null    int64
 25  price              164 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 34.6+ KB

<p>It provides concise summary of your dataframe </p>
<p> This method pritns information about dataframe including the index dtype and columns,non-null values and memory usage.</p>